<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title></title>

    <!-- Star CSS and Javascript -->
    <link rel="stylesheet" href="css/{{ affiliate_css }}/reset.css" type="text/css" media="screen,projection">
    <link rel="stylesheet" href="css/{{ affiliate_css }}/estilos.css" type="text/css" media="screen,projection">
    <!-- end CSS and Javascript -->
</head>

<body>

<div class="box-header">
    <div class="header">
        <h1 class="logo-sitio"><a href="{{ affiliate_url }}" title="{{ affiliate_name }}">{{ affiliate_name }}</a></h1>
        <div class="tit-webcams">Webcams</div>

        <div class="logo-cum"><a href="http://cumlouder.com" title="Cumlouder.com">Cumlouder.com</a></div>

        <div class="menu">
            <a href="#" title="Acceso a las Chicas en Directo">Acceso a las Chicas en Directo</a> <span>|</span>
            <a href="#" title="Acceso Miembros">Acceso Miembros</a> <span>|</span>
            <a href="#" title="Compra Créditos">Compra Créditos</a>
        </div>

        <div class="clear"></div>
    </div>
</div>
<!-- termina HEADER -->